POSTGRES_USER=pcdf_dev
POSTGRES_PASSWORD=changeme_dev_only
POSTGRES_DB=pcdf
POSTGRES_PORT=5433

KAFKA_PORT=29092

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=changeme_dev_only
GRAFANA_PORT=3000

PROMETHEUS_PORT=9090

API_PORT=8000
LOG_LEVEL=info
